html {
  font-size: 20px;
}

#search {
  display:inline-block;
  margin: 20px auto;
  font-size:24pt;
}
#app2 {
text-align:center;
}

table {
  width: 90%;
  text-align:left;
  margin:auto;
}
thead {
  font-weight:bold;
}]
